body
{
    margin: 20px;
    background-color: #fafafa;
}

video, canvas
{
    position: absolute;
}
        
#video-block
{
    margin: 0 50px 30px 0;
    width: 480px;
    height: 500px;
    padding: 20px;
    background-color: gray;
    border-radius: 10px 10px 60px 60px;
    border: 1px solid black;
    float: left;
    cursor: crosshair;
}

#drawing-controls
{
    top: 285px;
    position: relative;
    color: #DFDFDF;
}

#drawing-controls div
{
    margin: 10px 0;
}

#drawing-controls label
{
    margin: 0 30px;
}

#drawing-controls div input
{
    margin-top: 17px;
    position: absolute;
    height: 21px;
    right: 70px;
}

fieldset
{
    margin: 0;
    padding: 10px;
}

#drawing-controls div
{
    height: 40px;
}

#width
{
    width: 290px;
}

#duration
{
    width: 235px;
}

.description
{
    position: absolute;    
    margin-top: 15px;
}

.counter
{
    position: absolute;
    margin-top: 6px;
    background: white;
    padding: 10px;
    border-radius: 8px;
    color: #B8860B;
    width: 40px;
    text-align: center;
    left: 420px;
}

#clear-canvas
{
    position: relative;
    left: 50px;
    height: 40px;
    padding: 0 20px;
    top: 10px;
}

#clear-history
{
    position: relative;
    left: 65px;
    height: 40px;
    padding: 0 20px;
    top: 10px;
}

figure
{
    float: right;
    margin: 0 5px;
    border-radius: 10px;
    border: 1px solid #DFDFDF;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
}

figure p
{
    margin:0;
}

figure img
{
    border-radius: 10px;
    height: 100px;
}

#description
{
    max-width: 1150px;
    position: absolute;
    left: 590px;
}

#algorithm
{
    display: none;
    position: absolute;
    top: 500px;
    margin: 20px;
}

li
{
    list-style-type: disc;
    margin: 5px 0 5px -40px;
}

#error
{
    background-color: #FF7171;
    padding: 20px 0px 20px 40px;
    margin-bottom: 20px;
    border-radius: 40px 40px 10px 10px;
    display: none;
}

#db-log
{
    background-color: gray;
    padding: 10px;
    width: 380px;
    border-radius: 10px;
    color: #DFDFDF;
    display: none;
}

h4
{
    text-decoration: underline;
}